#wrapper {
	width: 980px;
	margin: auto;
	
}
header {
	border: 2px solid black;
	width: 100%;
	background: grey;
	height: 100px;
	
}

main {
	margin-top: 30px;
	border: 2px;
	width: 100%; 
	height: 460px;

}

footer {
	clear: both;
	border: 2px solid black;
	width: 100%;
	height: 50px;
	margin-top: 25px;
	background: grey;


}
section {
	border: 2px solid black;
	background: grey;
	height: 460px;
	width: 60%;
	position: relative;
	float: left;
}

aside {
	border: 2px solid black;
	height: 460px;
	width: 35%;
	background: grey;
	position: relative;
	float: right;
	overflow: auto;
}



